
@import url('reset.css');
@import url('typography.css');
@import url('color.css');
@import url('spacing.css');

body 
{
    background-color:var(--background);
    font-family: var(--font-normal);
    color: var(--copy);
}



.line 
{
    height:1px;
    width: 100%;
    border: 1px solid var(--border);
    margin-block: var(--space-l);
}

button
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: row;
    font-weight: 600;
    text-transform: uppercase;
    transition: linear 0.3s;
    border-radius: 1rem;
    
}

button:hover 
{
    filter:brightness(1.2);
}

button[disabled]
{
   opacity: 0.2;
   cursor: not-allowed;
   pointer-events: none;
}


input 
{
    background-color: var(--foreground);
    padding: var(--space-2xs) var(--space-xs);
}

.content {
    --gap: clamp(1rem, 6vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(80ch, 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);

    display: grid;
    grid-template-columns:
        [full-start] var(--full)
        [feature-start] var(--feature)
        [popout-start] var(--popout)
        [content-start] var(--content) [content-end]
        var(--popout) [popout-end]
        var(--feature) [feature-end]
        var(--full) [full-end];
}

.content > * {
    grid-column: content;
}

.popout {
    grid-column: popout;
}

.feature {
    grid-column: feature;
}

.full {
    grid-column: full;
}