:root 
{
    --font-normal: 'DM Sans Variable';
    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-sans;
}

body 
{
    font-family: 'DM Sans Variable', var(--font-fallback);
}


h1 {
    font-weight: 600;
}